#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

     .imgs {
         width: 250px;
         border-radius: 50%;
         border: 5px solid #BB99DD;
         margin: 50px 50px 30px;

         -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
        }


        .title {
            margin: 0px 0px 10px;
            font-weight: 400;
            color: #BB99DD;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px;
        }

        .button {
            margin: 10px;
            padding: 10px 100px;
            border-radius: 5px;
            border: 1px solid #BB99DD;
            background: #fcfcfc;
            color: #af77e7;
            transition: 0.3s;
            
            &:hover {
                filter: brightness(0.9);
                cursor: pointer;
            }
        }

        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .icon {
            margin: 0px 10px;
            transition: 0.3s;
            
            &:hover {
                filter: brightness(1.2);
                cursor: pointer;
            }
        }
        
}